@model InvoiceApp.Models.Invoice

@{
    ViewBag.Title = "Edit Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Invoice</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    @Html.HiddenFor(model => model.Id)

    <div>
        <label for="Customer">Customer:</label>
        @Html.EditorFor(model => model.Customer)
    </div>
    <div>
        <label for="InvoiceDate">InvoiceDate:</label>
        @Html.EditorFor(model => model.InvoiceDate)
    </div>








    <button type="submit">Save Changes</button>
}

@Html.ActionLink("Back to List", "Index")

<style>


    #ItemPrice 
    {
        width: 80px;
    }

    .total-price
    {
        font-size: 16px;
        font-weight: bold;        
    }

</style>

<script>
        function UpdatePrice() 
    {
        var amount = parseFloat(document.getElementById("Amount").value);
        var Price = amount * itemPriceValue; 
        document.getElementById("Price").value = Price.toFixed(2); 
    }
</script>
