@model List<InvoiceApp.Models.Invoice>

@{
    ViewBag.Title = "Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Invoices</h1>

<table>
    <tr>
        <th>    Invoice ID          </th>
        <th>    Customer      </th>
        <th>    Date        </th>
        <th>    Actions  </th>
    </tr>
    @foreach (var invoice in Model)
    {
        <tr>
            <td>@invoice.Id</td>
            <td>@invoice.InvoiceDate</td>
            <td>@invoice.Customer</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = invoice.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = invoice.Id })
            </td>
        </tr>
    }
</table>

<div class="pagination">
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        <a class="page-link @(i == ViewBag.CurrentPage ? "active" : "")"
           href="@Url.Action("Index", new { pagenumber = i })">
            @i
        </a>
    }
</div>

<p>@Html.ActionLink("Add Invoice", "Add")</p>
